{% extends 'tshirt/base.html' %}


{%block body_block %}



<h1>Cart</h1> 
<div id="container">

<ul>
    {% for object in object_list%}
        <p> Product name: {{object.product.name}}</p>
        <p> Quantity: {{object.quantity}}</p>
        <p> Size: {{object.size}}</p>
        <p> Gender: {{object.gender}}</p>
        <form action="" method="POST">
            {% csrf_token %}
            
            <input type="hidden" name = "cart_id" value="{{object.id}}">
            <input type="submit" value="delete">
            


<script>

const baseRequest = {
  apiVersion: 2,
  apiVersionMinor: 0
};


const allowedCardNetworks = ["MASTERCARD", "VISA"];


const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];


const tokenizationSpecification = {
  type: 'PAYMENT_GATEWAY',
  parameters: {
    'gateway': 'payu',
    'gatewayMerchantId': '6853512'
  }
};

const baseCardPaymentMethod = {
  type: 'CARD',
  parameters: {
    allowedAuthMethods: allowedCardAuthMethods,
    allowedCardNetworks: allowedCardNetworks
  }
};


const cardPaymentMethod = Object.assign(
  {},
  baseCardPaymentMethod,
  {
    tokenizationSpecification: tokenizationSpecification
  }
);


let paymentsClient = null;

function getGoogleIsReadyToPayRequest() {
  return Object.assign(
      {},
      baseRequest,
      {
        allowedPaymentMethods: [baseCardPaymentMethod]
      }
  );
}


function getGooglePaymentDataRequest() {
  const paymentDataRequest = Object.assign({}, baseRequest);
  paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
  paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
  paymentDataRequest.merchantInfo = {
    
    merchantId: '6853512',
    merchantName: 'payu'
  };
  return paymentDataRequest;
}


function getGooglePaymentsClient() {
  if ( paymentsClient === null ) {
    paymentsClient = new google.payments.api.PaymentsClient({environment: 'TEST'});
  }
  return paymentsClient;
}


function onGooglePayLoaded() {
  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
      .then(function(response) {
        if (response.result) {
          addGooglePayButton();
         
        }
      })
      .catch(function(err) {
        
        console.error(err);
      });
}


function addGooglePayButton() {
  const paymentsClient = getGooglePaymentsClient();
  const button =
      paymentsClient.createButton({onClick: onGooglePaymentButtonClicked});
  document.getElementById('container').appendChild(button);
}


function getGoogleTransactionInfo() {
  return {
    countryCode: 'IND',
    currencyCode: 'INR',
    totalPriceStatus: 'FINAL',
    // set to cart total
    totalPrice: '600'
  };
}


function prefetchGooglePaymentData() {
  const paymentDataRequest = getGooglePaymentDataRequest();
  
  paymentDataRequest.transactionInfo = {
    totalPriceStatus: 'NOT_CURRENTLY_KNOWN',
    currencyCode: 'INR'
  };
  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.prefetchPaymentData(paymentDataRequest);
}

function onGooglePaymentButtonClicked() {
  const paymentDataRequest = getGooglePaymentDataRequest();
  paymentDataRequest.transactionInfo = getGoogleTransactionInfo();

  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.loadPaymentData(paymentDataRequest)
      .then(function(paymentData) {
        // handle the response
        processPayment(paymentData);
      })
      .catch(function(err) {
        // show error in developer console for debugging
        console.error(err);
      });
}


function processPayment(paymentData) {
  
    console.log(paymentData);
  
  paymentToken = paymentData.paymentMethodData.tokenizationData.token;
}</script>
<script async
  src="https://pay.google.com/gp/p/js/pay.js"
  onload="onGooglePayLoaded()"></script>

        </form> 
</div>       
    {%empty%}
        <p>No items has been added to the cart!</p>
    {%endfor%}
</ul>
{% endblock%}































