{% extends 'tshirt/base.html' %}


{%block body_block %}



<h1>Cart</h1> 
<ul>
    {% for object in object_list%}
        <p> Product name: {{object.product.name}}</p>
        <p> Quantity: {{object.quantity}}</p>
        <p> Size: {{object.size}}</p>
        <p> Gender: {{object.gender}}</p>
        <form action="" method="POST">
            {% csrf_token %}
            
            <input type="hidden" name = "cart_id" value="{{object.id}}">
            <input type="submit" value="delete">
            
        </form> 
        <input type="submit" value="Checkout">
    {%empty%}
        <p>No items has been added to the cart!</p>
    {%endfor%}
</ul>
{% endblock%}
