{% extends "tshirt/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>A portal to buy amfoss shirts</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        <h1>Product List</h1>
    
        <ul>
        {% for Tshirt in object_list %}
            <li><a href="tshirt/{{Tshirt.slug}}">{{Tshirt.name}}</a></li>

            {%if Tshirt.image%}
                <img src="{{Tshirt.image.url}}" height="512" width = "512">
            {%endif%}
            
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
        </ul>
        
    {% else %}
        <h2>Register or Login to view the shirts</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
